useDynLib(exageostat, .registration = TRUE)
importFrom("stats", "rnorm")
export(image.arrow)
export(simulate_data_exact)
export(simulate_obs_exact)
export(exact_mle)
export(tlr_mle)
export(dst_mle)
export(exact_predict)
export(exageostat_init)
export(exageostat_finalize)
export(image.surface)
export(image.arrow)
export(mean_absolute_error)
export(mean_square_error)
export(mean_squared_logarithmic_error)
export(exact_mloe_mmom)
export(root_mean_squared_error)
export(bm)
export(bm_comp)
export(fisher_general)