useDynLib(exageostat)
export(Test1)
export(Test2)
export(Test3)
export(Test4)
export(exageostat_egenzR)
export(exageostat_egenz_glR)
export(exageostat_emleR)
export(exageostat_tlrmleR)
export(exageostat_dstmleR)
export(exageostat_initR)
export(exageostat_finalizeR)

