useDynLib(exageostat)
export(Test1)
export(Test2)
export(Test3)
export(Test4)
export(simulate_data_exact)
export(simulate_obs_exact)
export(exact_mle)
export(tlr_mle)
export(dst_mle)
export(exageostat_init)
export(exageostat_finalize)

